body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: #000033;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Georgia, "Times New Roman", serif;
}

.secondary {
    font-size: 105%;
    color: #606060;
}

h2 {
    color: #3399CC;
    font-family: Georgia, "Times New Roman", serif;
}

h3 {
    color: #303030;
    font-size: 130%;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: Georgia, "Times New Roman", serif;
}

dt {
    color: #000033;
}

.resort {
    color: #5C7FA3;
}

#contact {
    text-align: right;
    float: right;
    padding: 5px;

}

table { width: 100%;
        border-spacing: 0;
        border: 1px solid #3399CC; }

td, th { padding: 10px;
         border: 1px solid #3399CC; }

td { text-align: center; }

.text { text-align: left; }

tr:nth-of-type(odd) { background-color: #F5FAFC; }
